<!DOCTYPE html>
<html>
<head>
  <title>Stefanini</title>
  <!-- %= csrf_meta_tags % -->
  <!-- %= csp_meta_tag % -->

  <%= yield :head %>

  <%= stylesheet_link_tag    "stefanini/application", media: "all" %>
</head>
<body style="background-color: blue;">

<%= yield %>

</body>
</html>
